@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgba(55, 65, 81); */
  /* width */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
}
[type="radio"] {
  display: none;
}

.task:hover .custom-checkbox,
[type="radio"]:focus + label .custom-checkbox {
  color: #ddd;
}

[type="radio"]:checked + label .custom-checkbox {
  background: #fff;
  border-color: rgba(243, 244, 246);
  box-shadow: inset 0 0 0px 2px transparent;
}

/* [type="radio"]:checked + label {
  opacity: 0.5;
} */
